/* -*-c-*-
 * rsrc.rc
 * $Id: rsrc.rc,v 1.11 2006/09/01 17:34:23 bobi Exp $
 *
 * Copyright 2004 Bobi B., w1zard0f07@yahoo.com
 *
 * This file is part of hdl_dumb.
 *
 * hdl_dumb is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * hdl_dumb is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with hdl_dumb; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

#include "rsrc.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

#ifdef APSTUDIO_INVOKED

1 TEXTINCLUDE DISCARDABLE 
BEGIN
    "rsrc.h\0"
END

2 TEXTINCLUDE DISCARDABLE 
BEGIN
    "#include ""afxres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE DISCARDABLE 
BEGIN
    "\r\n"
    "\0"
END

#endif


IDD_MAIN_DLG DIALOG DISCARDABLE  0, 0, 249, 268
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | 
    WS_SYSMENU
CAPTION "hdl_dumb-0.8.7"
FONT 8, "Verdana"
BEGIN
    GROUPBOX        "Target",IDC_STATIC,5,5,240,70
    CONTROL         "Locally connected Playstation 2 HDD",IDC_PS2HDD_LOCAL,
                    "Button",BS_AUTORADIOBUTTON,10,15,140,10
    CONTROL         "Networking server, at",IDC_PS2HDD_NETWORK,"Button",
                    BS_AUTORADIOBUTTON,10,32,90,10
    COMBOBOX        IDC_PS2HDD,155,15,60,65,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_GROUP | WS_TABSTOP
    CONTROL         "IPAddress1",IDC_PS2IP,"SysIPAddress32",WS_GROUP | 
                    WS_TABSTOP,105,31,80,12
    PUSHBUTTON      "A&ttach",IDC_NET_U2LINK,190,30,50,14,WS_GROUP
    LTEXT           "Disk space:",IDC_STATIC,10,50,45,8
    CONTROL         "Progress1",IDC_PROGRESS,"msctls_progress32",PBS_SMOOTH | 
                    WS_GROUP,60,50,180,10
    RTEXT           "",IDC_PS2HDD_INFO,60,61,180,8
    LTEXT           "Operation:",IDC_OPERATION_LBL,5,81,50,8
    CONTROL         "Install games",IDC_INSTALL_OPT,"Button",
                    BS_AUTORADIOBUTTON,60,80,90,10
    CONTROL         "Browse and delete",IDC_BROWSE_OPT,"Button",
                    BS_AUTORADIOBUTTON,155,80,90,10

    GROUPBOX        "Source",IDC_SOURCE_LBL,5,95,240,45,WS_GROUP
    CONTROL         "&ISO file",IDC_ISO_OPT,"Button",BS_AUTORADIOBUTTON,10,
                    106,45,10
    CONTROL         "&Optical drive",IDC_OPTICAL_OPT,"Button",
                    BS_AUTORADIOBUTTON,10,121,70,10
    EDITTEXT        IDC_ISO_PATH,60,105,160,12,ES_AUTOHSCROLL | WS_GROUP
    PUSHBUTTON      "...",IDC_BROWSE_FOR_ISO,225,105,15,12
    COMBOBOX        IDC_SOURCE_DRIVE,85,120,60,65,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP

    GROUPBOX        "Game",IDC_GAME_LBL,5,145,240,100
    LTEXT           "Type",IDC_TYPE_LBL,10,157,45,8
    COMBOBOX        IDC_SOURCE_TYPE,60,155,60,63,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_SOURCE_INFO,125,157,115,8,NOT WS_GROUP
    LTEXT           "&Name:",IDC_GAMENAME_LBL,10,172,45,8
    EDITTEXT        IDC_GAMENAME,60,170,180,12,ES_AUTOHSCROLL
    LTEXT           "&Startup:",IDC_SIGNATURE_LBL,10,187,45,8
    EDITTEXT        IDC_SIGNATURE,60,185,60,12,ES_AUTOHSCROLL
    LTEXT           "Compatibility:",IDC_FLAGS_LBL,10,200,70,8
    CONTROL         "1: Slow HDD access",IDC_MODE1,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    60,200,85,10
    CONTROL         "2: No DVD9 support",IDC_MODE2,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    60,210,85,10
    CONTROL         "3: Kill HD Loader",IDC_MODE3,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    60,220,85,10
    CONTROL         "4: Date/time fix 2",IDC_MODE4,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    60,230,85,10
    CONTROL         "5: Date/time fix 3",IDC_MODE5,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    150,200,85,10
    CONTROL         "6: No network support",IDC_MODE6,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    150,210,85,10
    CONTROL         "7: No UAB patch",IDC_MODE7,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    150,220,85,10
    CONTROL         "8: Soul Calibur 2",IDC_MODE8,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    150,230,85,10
    CONTROL         "List1",IDC_CONTENTS,"SysListView32",LVS_REPORT | 
/*                    LVS_EDITLABELS |*/
                    LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | WS_BORDER | 
                    WS_GROUP | WS_TABSTOP,5,95,240,150

    PUSHBUTTON      "Ins&tall",IDC_ACTION,140,250,50,14,WS_GROUP
    PUSHBUTTON      "Close",IDCANCEL,195,250,50,14,WS_GROUP
END

IDD_PROGRESS_DLG DIALOG DISCARDABLE  0, 0, 187, 79
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Installing game"
FONT 8, "Verdana"
BEGIN
    LTEXT           "Task progress",IDC_PROGRESS_LBL,5,5,47,8
    CONTROL         "Progress1",IDC_PROGRESS,"msctls_progress32",PBS_SMOOTH,
                    5,15,175,14
    LTEXT           "Elapsed time:",IDC_ELAPSED_LBL,5,35,60,8
    LTEXT           "",IDC_ELAPSED,70,35,50,8
    LTEXT           "Estimated time:",IDC_ESTIMATED_LBL,5,45,60,8
    LTEXT           "",IDC_ESTIMATED,70,45,50,8
    LTEXT           "Average speed:",IDC_AVGSPEED_LBL,5,55,60,8
    LTEXT           "",IDC_AVGSPEED,70,55,50,8
    LTEXT           "Current speed:",IDC_CURRSPEED_LBL,5,65,60,8
    LTEXT           "",IDC_CURRSPEED,70,65,50,8
    PUSHBUTTON      "Cancel",IDCANCEL,130,60,50,14
END


#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE 
BEGIN
    IDD_MAIN_DLG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 242
        TOPMARGIN, 7
        BOTTOMMARGIN, 231
    END

    IDD_PROGRESS_DLG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 180
        TOPMARGIN, 7
        BOTTOMMARGIN, 62
    END
END
#endif


IDR_MANIFEST            24      DISCARDABLE     "rsrc/manifest.bin"

#ifndef _MAC

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,8,7,0
 PRODUCTVERSION 0,8,7,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "hdl_dumb - Windows-based game installer for HD Loader\r\nWizard of 0z (AKA b...)\r\nhttp://hdldump.ps2-scene.org/\r\nw1zard0f07@yahoo.com\0"
            VALUE "CompanyName", "Wizard of 0z (AKA b...)\r\nhttp://hdldump.ps2-scene.org/\r\nw1zard0f07@yahoo.com\0"
            VALUE "FileDescription", "hdl_dumb - Windows-based game installer for HD Loader\0"
            VALUE "FileVersion", "0, 8, 7, 0\0"
            VALUE "InternalName", "hdl_dumb\0"
            VALUE "LegalCopyright", "© 2004, 2005, 2006 Wizard of 0z\0"
            VALUE "LegalTrademarks", "Credits goes for Sony and the creators of HD Loader. Remember guys, you're the one, that opened Pandora's box.\0"
            VALUE "OriginalFilename", "hdl_dumb.exe\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "hdl_dumb\0"
            VALUE "ProductVersion", "0, 8, 7, 0\0"
            VALUE "SpecialBuild", "GUI\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif    // !_MAC

IDI_APPL                ICON    DISCARDABLE     "rsrc/app.ico"

IDB_PS2_CD              BITMAP  DISCARDABLE     "rsrc/ps2_cd.bmp"
IDB_PS2_DVD9            BITMAP  DISCARDABLE     "rsrc/ps2_dvd9.bmp"
IDB_PS2_DVD             BITMAP  DISCARDABLE     "rsrc/ps2_dvd.bmp"


STRINGTABLE DISCARDABLE 
BEGIN
    IDS_DVD                 "DVD-ROM"
    IDS_CD                  "CD-ROM"
    IDS_NAME_LBL            "Partition Name"
    IDS_FLAGS_LBL           "Flags"
    IDS_SIZE_LBL            "Size"
    IDS_CREATED_LBL         "Date Created"

    IDS_ESTIMATED_UNKNOWN   "unknown"
    IDS_DATA_RATE_UNKNOWN   "-"
    IDS_CONFIRM_DELETE      "Are you sure you wish to delete currently selected game(s)?"
    IDS_CONFIRM_DELETE_TITLE "Confirm operation"
    IDS_INCOMPATIBLE_GAME   "The game you've just selected is marked as incompatible.\n\nYou're free to continue, but there is a high chance, that you'll not be able to complete the game using HD Loader."
    IDS_INCOMPATIBLE_GAME_TITLE "Incompatible game"

    IDS_ERROR_TITLE         "Unexpected problem"
    IDS_NO_PS2_HDD_ERR      "No formatted Playstation 2 HDD found.\nPlease, attach the hard-disk and run the application again."
    IDS_NOT_APA_ERR         "Not an APA partition."
    IDS_NOT_HDL_PART_ERR    "Not a HD Loader partition."
    IDS_NOT_FOUND_ERR       "Not found."
    IDS_BAD_FORMAT_ERR      "Bad device id format."
    IDS_BAD_DEVICE_ERR      "Bad device."
    IDS_NO_SPACE_ERR        "Not enough space."
    IDS_BAD_APA_ERR         "Bad APA partition table."
    IDS_NO_MEM_ERR          "Out of memory."
    IDS_INTERRUPTED_ERR     "Operation interrupted."
    IDS_PART_EXISTS_ERR     "Partition with such name already exists."
    IDS_DATA_CROSS_128GB    "Partition data across 128GB mark found."
    IDS_UNKNOWN_ERR         "Unknown error."
    IDS_NOT_COMPAT_ERR      "Unable to process selected input. File might be incompatible or broken."
    IDS_NOT_ALLOWED_ERR     "Operation is not allowed."

    IDS_INSTALL_LBL         "Ins&tall"
    IDS_DELETE_LBL          "&Delete"
END

#endif
